<div class="wrapper">
    <div >
        <p >ID: {{index}}</p>
        <p >name: {{name}}</p>
        <p >path: {{path}}</p>
        <p >size: {{size}}</p>
        <p >type: {{type}}</p>
        <p >savedate: {{savedate}}</p>
    </div>
</div>